* {
    margin: 0;
    padding: 0;
}

/****** style for nav-top ******/
.nav-top {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    font-size: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}
.nav-top ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

}
.nav-top-right a{
    margin: 0px 10px;
}

/****** style for contents within main ******/
.main {
    padding: 40px 0px;
    width: 90%;
    /* margin-top: 100px;
    margin-left: auto;
    margin-right: auto; */
    margin: 100px auto;
}
.about-me {
    /* style for about me container */
    background-color: antiquewhite;
    text-align: center;
}
.about-me-bot {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.my-skills {
    /* style for my skills container */
    text-align: center;
    margin-top: 40px;
    background-color: antiquewhite;
}
.my-experiences {
    text-align: center;
    margin-top: 40px;
    background-color: antiquewhite;
}
.my-works {
    text-align: center;
    margin-top: 40px;
    background-color: antiquewhite;
}
.contact {
    text-align: center;
    margin-top: 40px;
    background-color: antiquewhite;
}